<!DOCTYPE html>
<html>
  <head>
    <title> title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body style="background-color: <%= color%>">

    <h1>Elegi un color de fondo</h1>

    <form action="/" method="POST">

      <input type="color" name="color">
      <input type="submit">

    </form>
  </body>
</html>
