@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&family=Work+Sans:wght@300&display=swap');


.rutas{
    text-align: right;
    background-color: rgba(255, 255, 255, 0.4);
    line-height: 33px;
    text-transform: uppercase;
}

body{
    background-image: url(../img/emilia-about.jpg);
    background-size: 80%;
    background-position: top right;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    margin-left: 150px;
}

ul li{
    text-align: right;
    list-style-type: none;
    color: #666;
    line-height: 33px;
    
}

a{
    text-decoration: none;
    color: #666; 
}
a i{
    color:black;
    
}


h1{
    font-family: 'Raleway', sans-serif;

}